# Core requirements
requests
beautifulsoup4
lxml
phonenumbers
pdfkit
colorama
argparse
selenium
webdriver-manager
# Orchestration
pydantic
python-dotenv
rapidfuzz>=3.3.1
pyyaml
networkx
#holele
bs4
termcolor
setuptools
