# Core requirements
argparse
beautifulsoup4
certifi
colorama
ddgs
lxml
networkx
pdfkit
phonenumbers
pydantic
pytest
pytest-asyncio
python-dotenv
requests
rsa
selenium
selenium-stealth
undetected-chromedriver>=3.5.5
webdriver-manager
# Orchestration
networkx
pydantic
python-dotenv
pyyaml
rapidfuzz>=3.3.1
#holele
bs4
termcolor
setuptools
